{% extends 'base.html.twig' %}

{% block body %}
    <h1>Список прорабов</h1>

    <table bordercolor="blue" border="1">
        <thead align="center">
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Email</th>
            <th>Пароль</th>
            <th>Роль</th>
            <th>Соль</th>
            <th>Грузчики</th>
        </tr>
        </thead>
        <tbody align="center">
            {% for foreman in foremen %}
                <tr>
                    <td><a href="{{ path('foreman_show', { 'id': foreman.id }) }}">{{ foreman.id }}</a></td>
                    <td>{{ foreman.name }}</td>
                    <td>{{ foreman.surname }}</td>
                    <td>{{ foreman.email }}</td>
                    <td>{{ foreman.password }}</td>
                    <td>{{ foreman.role }}</td>
                    <td>{{ foreman.salt }}</td>
                    <td>{{ foreman.loaders }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('foreman_show', { 'id': foreman.id }) }}">Показать</a>
                            </li>
                            <li>
                                <a href="{{ path('foreman_edit', { 'id': foreman.id }) }}">Обновить</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('foreman_new') }}">Создать нового прораба</a>
        </li>
    </ul>
{% endblock %}
