{% extends 'base.html.twig' %}

{% block body %}
    <h1>Сотрудник</h1>

    <table bordercolor="blue" border="1">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ good.id }}</td>
        </tr>
        <tr>
            <th>Тип</th>
            <td>{{ good.type }}</td>
        </tr>
        <tr>
            <th>Название</th>
            <td>{{ good.name }}</td>
        </tr>
        <tr>
            <th>Вес</th>
            <td>{{ good.weight }}</td>
        </tr>
        <tr>
            <th>Грузчик</th>
            <td>{{ good.loader }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('good_index') }}">Назад к списку</a>
        </li>
        <li>
            <a href="{{ path('good_edit', { 'id': good.id }) }}">Обновить</a>
        </li>
        <li>
            <a href="{{ path('good_delete', { 'id': good.id }) }}">Удалить</a>
        </li>
    </ul>
{% endblock %}
