{% extends 'base.html.twig' %}

{% block body %}
    <h1>Сотрудник</h1>

    <table bordercolor="blue" border="1">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ foreman.id }}</td>
        </tr>
        <tr>
            <th>Имя</th>
            <td>{{ foreman.name }}</td>
        </tr>
        <tr>
            <th>Фамилия</th>
            <td>{{ foreman.surname }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ foreman.email }}</td>
        </tr>
        <tr>
            <th>Пароль</th>
            <td>{{ foreman.password }}</td>
        </tr>
        <tr>
            <th>Соль</th>
            <td>{{ foreman.salt }}</td>
        </tr>
        <tr>
            <th>Грузчики</th>
            <td>{{ foreman.loaders }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('foreman_index') }}">Назад к списку</a>
        </li>
        <li>
            <a href="{{ path('foreman_edit', { 'id': foreman.id }) }}">Обновить</a>
        </li>
        <li>
            <a href="{{ path('foreman_delete', { 'id': foreman.id }) }}">Удалить</a>
        </li>
    </ul>
{% endblock %}
