{% extends 'base.html.twig' %}

{% block body %}
    <h1>Сотрудник</h1>

    <table bordercolor="blue" border="1">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ loader.id }}</td>
        </tr>
        <tr>
            <th>Тип</th>
            <td>{{ loader.name }}</td>
        </tr>
        <tr>
            <th>Название</th>
            <td>{{ loader.surname }}</td>
        </tr>
        <tr>
            <th>Вес</th>
            <td>
                {% for g in loader.goods %}
                    {{ g }}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Грузчик</th>
            <td>{{ loader.foreman }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('loader_index') }}">Назад к списку</a>
        </li>
        <li>
            <a href="{{ path('loader_edit', { 'id': loader.id }) }}">Обновить</a>
        </li>
        <li>
            <a href="{{ path('loader_delete', { 'id': loader.id }) }}">Удалить</a>
        </li>
    </ul>
{% endblock %}
