{% extends 'base.html.twig' %}

{% block body %}
    <h1>Список смен</h1>

    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Дата</th>
            <th scope="col">Прораб</th>
            <th scope="col">Грузчики</th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tbody>
            {% for shift in shifts %}
                <tr>
                    <th scope="row"><a href="{{ path('shift_show', { 'id': shift.id }) }}">{{ shift.id }}</a></th>
                    <td>{{ shift.date }}</td>
                    <td>{{ shift.foreman }}</td>
                    <td>
                        {% for l in shift.loaders %}
                            {{ l }}<br />
                        {% endfor %}
                    </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('shift_show', { 'id': shift.id }) }}">Показать</a>
                            </li>
                            <li>
                                <a href="{{ path('shift_edit', { 'id': shift.id }) }}">Обновить</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



    <a href="{{ path('shift_new') }}" style="margin-left: 10px;">Создать новую смену</a>
    <a href="{{ path('shift_print') }}" style="margin-left: 20px;">Печать</a>

{% endblock %}
