<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Дата</th>
        <th>Прораб</th>
        <th>Грузчики</th>
    </tr>
    </thead>
    <tbody>
    {% for shift in shifts %}
        <tr>
            <td><a href="{{ path('shift_show', { 'id': shift.id }) }}">{{ shift.id }}</a></td>
            <td>{{ shift.date }}</td>
            <td>{{ shift.foreman }}</td>
            <td>
                {% for l in shift.loaders %}
                    {{ l }}<br />
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
