{% extends 'base.html.twig' %}

{% block body %}
    <h1>Смена</h1>

    <table bordercolor="blue" border="1">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ shift.id }}</td>
        </tr>
        <tr>
            <th>Дата</th>
            <td>{{ shift.date }}</td>
        </tr>
        <tr>
            <th>Прораб</th>
            <td>{{ shift.foreman }}</td>
        </tr>
        <tr>
            <th>Грузчики</th>
            <td>{{ shift.loaders }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('shift_index') }}">Назад к списку</a>
        </li>
        <li>
            <a href="{{ path('shift_edit', { 'id': shift.id }) }}">Обновить</a>
        </li>
        <li>
            <a href="{{ path('shift_delete', { 'id': shift.id }) }}">Удалить</a>
        </li>
    </ul>
{% endblock %}
